{% extends 'base.html' %}
{% block head_content %}VecindApp - Home{% endblock %}

{% block content %}
<div class="container">
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Noticias</a>
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Quejas y Peticiones</a>
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Comunidad</a>
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Reservas</a>
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Perfil</a>
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Chat!</a>
</div>
{% endblock %}
